.test-class {
	color: blue;
	font-size: 12pt;
}

.key-factors-number {
	font-weight: bold;
	font-family: Arial;
	font-size: 24pt;
}

.template-name {
	font-family: Arial;
	font-size: 24pt;
}

.triangle-bullets {
	li-content: "\25B6";
	li-color: gray;
	indent: 3mm;
}

.template-industry-desc {
	font-weight: bold;
}

.cust {
	margin-left: 3mm;
}

#logo {
	left: 10mm;
	top: 50mm;
}